{% extends "layout.html" %}

{% block title %}
    Чемпионат
{% endblock %}    
{% block main %}              
        <h1 align="center">Чемпионат {{ championat_year }} года!</h1>
        <h3 align="left"><a href="/join_etap">Регистрация на этап</a></h3> 
        <h3 align="left"><a href="/">Результаты по этапам</a> </h3>
        <table class="table tablestriped">
            <thead>
                <tr>
                    <th>Фото</th>
                    <th>Участник</th>                    
                    <th>место</th>
                    <th>Баллы</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td><img src="{{ row["avatar"] }}"></td>
                    <td>{{ row["username"] }}</td>                    
                    <td>{{ row["place"] }}</td>
                    <td>{{ row["score"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
{% block script %}    
{% endblock %}

