{% extends "layout.html" %}

{% block title %}
    Чемпионат
{% endblock %}    
{% block main %}    
    {% if session_id == 7 %} 
        <form action="/championat" method="post">
            <div align="left" class="mb-3">
                <button class="btn btn-primary" name="edit_penalty" value="edit_penalty"\
                type="submit">Редактировать Штрафы</button>
            </div>   
        </form>
    {% else %}
    <!-- Zaglushka!!!-->
        <h1 align="center">Разрабатывается!</h1>
    {% endif %}
{% endblock %}
{% block script %}    
{% endblock %}

