{% extends "layout.html" %}

{% block title %}
    Редактировать
{% endblock %}

{% block main %}
    <h1 align="left">Редактировать Модель:</h1>
    <p align="left" color="red">Что красным обязательно!</p>
    <form action="/edit_model" method="post">
        <table class="table tablestriped">
            <tr>
                <td>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </div>
                    <div class="mb-3">
                        <input style='background-color:red' autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name" name="name"\
                        value="{{ model[0]["name"] }}" placeholder="Имя модели" type="text">
                    </div>
                    <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="vendor" name="vendor"\
                        value="{{ model[0]["vendor"] }}" placeholder="Производитель" type="text">
                    </div>
                    <div class="mb-3">            
                        <input style='background-color:red' autocomplete="off" autofocus class="form-control mx-auto w-auto" id="model" name="model"\
                        value="{{ model[0]["model"] }}" placeholder="Модель" type="text">
                    </div>
                    <div class="mb-3">                        
                        <div class="mb-3">
                            {% if model[0]["axles"] == none %}
                            <select autocomplete="off" autofocus class="form-select mx-auto w-auto" id="axles" name="axles">
                                <option disabled="" selected="">Мосты</option>                
                                <option value="forward">Прямые</option>
                                <option value="portals">Порталы</option>
                            {% endif %}
                            {% if model[0]["axles"] == "forward" %}
                            <select autocomplete="off" autofocus class="form-select mx-auto w-auto" id="axles" name="axles">
                                <option disabled="">Мосты</option>                
                                <option selected value="forward">Прямые</option>
                                <option value="portals">Порталы</option>
                            {% endif %}
                            {% if model[0]["axles"] == "portals" %}
                            <select autocomplete="off" autofocus class="form-select mx-auto w-auto" id="axles" name="axles">
                                <option disabled="">Мосты</option>                
                                <option value="forward">Прямые</option>
                                <option selected value="portals">Порталы</option>
                            {% endif %}
                        </div>
                    </div>                 
                    <div class="mb-3">
                        <input style='margin-top: 15px;' autocomplete="off" autofocus class="form-control mx-auto w-auto" min="1" id="clearance" name="clearance"\
                        value={{ model[0]["clearance"] }} placeholder="Клиренс мм" type="number">
                    </div>
                    <div class="mb-3">
                        {% if model[0]["servo_on"] == none %}
                        <select autocomplete="off" autofocus class="form-select mx-auto w-auto" id="servo_on" name="servo_on">
                            <option disabled="" selected="">Расположение сервы</option>                
                            <option value="axle">На мосту</option>
                            <option value="chassis">На раме</option>
                        {% endif %}   
                        {% if model[0]["servo_on"] == "axle" %}
                        <select autocomplete="off" autofocus class="form-select mx-auto w-auto" id="servo_on" name="servo_on">
                            <option disabled="" >Расположение сервы</option>                
                            <option selected value="axle">На мосту</option>
                            <option value="chassis">На раме</option>
                        {% endif %}     
                        {% if model[0]["servo_on"] == "chassis" %}
                        <select autocomplete="off" autofocus class="form-select mx-auto w-auto" id="servo_on" name="servo_on">
                            <option disabled="" >Расположение сервы</option>                
                            <option value="axle">На мосту</option>
                            <option selected value="chassis">На раме</option>
                        {% endif %}          
                    </div>
                    <div class="mb-3">
                        <input style='margin-top: 15px;' autocomplete="off" autofocus class="form-control mx-auto w-auto" min="1" id="weight" name="weight"\
                        value={{ model[0]["weight"] }} placeholder="Вес в граммах" type="number">
                    </div>
                    <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="balance" name="balance"\
                        value="{{ model[0]["balance"] }}" placeholder="Развесовка XX%/XX%" type="text">
                    </div>
                    <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="combo" name="combo"\
                        value="{{ model[0]["combo"] }}" placeholder="Комбо ESC+Motor" type="text">
                    </div>
                    <div class="mb-3">
                        {% if model[0]["winch"] == none %}
                        <select autocomplete="off" autofocus class="form-select mx-auto w-auto" id="winch" name="winch">
                            <option disabled="" selected="">Вид лебедки</option>                
                            <option value="winch">Лебедка</option>
                            <option value="servo">Серволебедь</option> 
                        {% endif %}
                        {% if model[0]["winch"] == "servo" %}
                        <select autocomplete="off" autofocus class="form-select mx-auto w-auto" id="winch" name="winch">
                            <option disabled="" >Вид лебедки</option>                
                            <option value="winch">Лебедка</option>
                            <option selected value="servo">Серволебедь</option> 
                        {% endif %}
                        {% if model[0]["winch"] == "winch" %}
                        <select autocomplete="off" autofocus class="form-select mx-auto w-auto" id="winch" name="winch">
                            <option disabled="" >Вид лебедки</option>                
                            <option selected  value="winch">Лебедка</option>
                            <option value="servo">Серволебедь</option> 
                        {% endif %}                              
                    </div>
                    <div class="mb-3">
                        <input style='margin-top: 15px;' autocomplete="off" autofocus class="form-control mx-auto w-auto" id="tires" name="tires"\
                        value="{{ model[0]["tires"] }}" placeholder="Шины и размер" type="text">
                    </div>
                    <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" min="1" id="base" name="base"\
                        value={{ model[0]["base"] }} placeholder="Длина колесной базы" type="number">
                    </div>
                    <div class="mb-3">
                        {% if model[0]["body"] == none %}
                        <select autocomplete="off" autofocus class="form-select mx-auto w-auto" id="body" name="body">
                            <option disabled="" selected="">Тип кузова</option>                
                            <option value="hard">Пластик</option>
                            <option value="lexan">Лексан</option> 
                        {% endif %} 
                        {% if model[0]["body"] == "hard" %}
                        <select autocomplete="off" autofocus class="form-select mx-auto w-auto" id="body" name="body">
                            <option disabled="">Тип кузова</option>                
                            <option selected value="hard">Пластик</option>
                            <option value="lexan">Лексан</option> 
                        {% endif %} 
                        {% if model[0]["body"] == "lexan" %}
                        <select autocomplete="off" autofocus class="form-select mx-auto w-auto" id="body" name="body">
                            <option disabled="">Тип кузова</option>                
                            <option value="hard">Пластик</option>
                            <option selected value="lexan">Лексан</option> 
                        {% endif %}             
                    </div>
                    <input style="display: none" id="id" name="id" value="{{ model[0]["id"] }}" type="number">                   
                </td>   
            </tr>   
        </table> 
    </form>
{% endblock %}
