{% extends "layout.html" %}

{% block title %}
    Гараж
{% endblock %}

{% block main %}
    <h1 align="left">Гараж:</h1>
    
    <div align="left">
        <form action="/garage" method="post">
            <div class="mb-3">
                <button class="btn btn-primary" name="add_model" value="add_model" type="submit">Добавить модель</button>
            </div>            
            
            <div class="mb-3">
                <button class="btn btn-primary" name="edit_model" value="edit_model" type="submit">Изменить модель</button>
                <select name="select_edit_model" >
                    <option value="" selected disabled hidden>Какую?</option>                    
                    {% for model in models %}
                        <option value="{{ model["name"] }}">{{ model["name"] }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-primary" name="delete_model" value="delete_model" type="submit">Удалить модель  </button>
                <select name="select_delete_model" >
                        <option value="" selected disabled hidden>Уверен?</option>                    
                    {% for model in models %}
                        <option value="{{ model["name"] }}">{{ model["name"] }}</option>
                    {% endfor %}
                </select>
        </form>
    </div>
    <table class="table tablestriped">
        <thead>
            <tr>
                <th>Имя</th>
                <th>производитель</th>
                <th>Модель</th>
                <th>Мосты</th>
                <th>Клиренс</th>
                <th>Расположение сервы</th>
                <th>Вес</th>
                <th>Баланс(перед/зад)</th>
                <th>Комбо</th>
                <th>Тип лебедки</th>
                <th>Длина колесной базы</th>
                <th>Тип кузова</th>
            </tr>
        </thead>
        <tbody>
            {% for model in models %}
            <tr>
                <td>{{ model["name"] }}</td>
                <td>{{ model["vendor"] }}</td>
                <td>{{ model["model"] }}</td>
                <td>{{ model["axles"] }}</td>
                <td>{{ model["clearance"] }}</td>
                <td>{{ model["servo_on"] }}</td>
                <td>{{ model["weight"] }}</td>                
                <td>{{ model["balance"] }}</td>
                <td>{{ model["combo"] }}</td>
                <td>{{ model["winch"] }}</td>
                <td>{{ model["base"] }}</td>
                <td>{{ model["body"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
