{% extends "layout.html" %}

{% block title %}
    Результаты
{% endblock %}

{% block main %}
    <h1 align="left">Результаты последнего этапа:</h1>
    <table class="table tablestriped">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Результат</th>
                <th>Модель</th>
                <th>Очки</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row["name"] }}</td>
                <td>{{ row["result"] }}</td>
                <td>{{ row["model"] }}</td>
                <td>{{ row["score"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td  class="fw-bold">Ссылка на видео</td>
                <td><a href="{{ link_to_video }}">Жми сюда</a></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
