{% extends "layout.html" %}

{% block title %}
    Результаты
{% endblock %}

{% block main %}
    <form action="/" method="get">
        <h1 align="left">Результаты этапа - {{ etap_name }}:</h1>
        <h3 align="left">Дата {{ etap_date }} </h3>
        <div align="left" class="mb-3">        
            <select name="select_etap" id="select_etap" onchange="this.form.submit()">
                {% if etap_id == 0 %}
                    <option value="" selected disabled hidden>Выбери Этап</option>
                {% else %}
                    <option value="" disabled hidden>Этап</option>
                {% endif %}        
                {% for event in events %}          
                    {% if event["id"] == etap_id %}   
                        <option selected value="{{ event["id"] }}">{{ event["event_name"] }}</option>
                    {% else %}
                        <option value="{{ event["id"] }}">{{ event["event_name"] }}</option>
                    {% endif %}            
            {% endfor %}
            </select>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Участник</th>
                    <th>Модель</th>
                    <th>Результат</th>
                    <th>Место</th>
                    <th>Очки</th>                
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result["user_name"] }}</td>
                    <td>{{ result["model_name"] }} - {{ result["model_model"] }}</td>
                    <td>{{ result["result"] }}</td>
                    <td>{{ result["place"] }}</td>
                    <td>{{ result["score"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td><a href={{ etap_link }}>Как покатали </a></td>           
                </tr>            
            </tfoot>
        </table>
    </form>
{% endblock %}
